@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
  font-family: "Didact Gothic", sans-serif;
}


.control-arrow{
  height: 400px;
}

.active{
  color: #b61d0f;
}